{% extends "bootstrap/base.html" %}

{% block title %}XML Transform{% endblock %}

{% block navbar %}
{{nav.mynavbar.render()}}
{% endblock %}

{% block content %}

<center>
<form method="POST" action="/xml-transform">
    {{ form.hidden_tag() }}
<table><tr><td>
    {{ form.xml.label }}
</td><td>
    {{ form.xsl.label }}
</td></tr>
<tr><td>
    {{ form.xml(cols="65", rows="20") }}
</td><td>
    {{ form.xsl(cols="65", rows="20") }}
</td></tr>
<tr><td colspan="2">
<input type="submit" value="Transform" size="500">
</td></tr></table>

</form>
</center>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<pre>
  <code>
{{ xml }}
  </code>
</pre>
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='stylesheet.css')}}">
{% endblock %}
