{% extends "bootstrap/base.html" %}

{% block title %}XML Transform{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top"><p>
XML Transform
</p></div>
{% endblock %}

{% block content %}

<center>
<div class="form">
<form method="POST" action="/xml-transform">
    {{ form.hidden_tag() }}
<table><tr><td>
    {{ form.xml.label }}
</td><td>
    {{ form.xsl.label }}
</td></tr>
<tr><td>
    {{ form.xml(cols="65", rows="20") }}
</td><td>
    {{ form.xsl(cols="65", rows="20") }}
</td></tr>
<tr><td colspan="2">
<input type="submit" value="Transform" size="500">
</td></tr></table>
</form>
</div>
</center>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% if xml is defined %}
<pre>
  <code>
{{ xml }}
  </code>
</pre>
{% endif %}

{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='stylesheet.css')}}">
{% endblock %}
